.categories-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 15vh;
  font-size: 18px;
  text-align: center;
  height: 60vh;
  align-content: center;
}

/* .categorie {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  height: 10vh;
  width: 20vh;
} */

.categorie {
  color: #fff;
  border-bottom: 5px solid #ca0202;
  transition: transform 0.5s;
  margin: 30px;
  border-radius: 10px;
}
.categorie:hover {
  background-color: #e5b4fa;
  box-shadow: 0px 0px 20px #e5b4fa;
  transform: translate(0px, -5px);
  transition: transform 0.5s;
}