.info {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  height: 95%;
  width: 90%;
}

.titulo-imagem {
  display: flex;
}

.name-overview {
  margin-left: 10vh;

}

.check {
  display: flex;
}

.perguntas {
  display: flex;
  justify-content: space-between;
}

.img-inside {
  overflow: hidden;
  height: 30vh;
  width: 30vh;
  border-radius: 0.5rem;
  box-shadow: 10px 5px 5px black;
}

